.add-dish-form {
  max-width: 500px;
  padding: 10px 20px;
  margin: 40px auto;
}
.add-dish-form label {
  color: gray;
  display: inline;
}
fieldset legend {
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 20px;
  margin-bottom: 15px;
}
#name,
#rating,
textarea {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 0.9em;
  background: inherit;
}
.add-dish-form button {
  border: 1px solid #27a0a0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  margin: 10px;
  background: #333;
  color: white;
}
