.dish-flex-container {
  border: 1px solid violet;
  display: flex;
  /* justify-content: center; */
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}
.dish-flex-container li {
  flex-basis: 400px;
}
.dishes-list {
  border: 1px solid red;
  margin: 10px;
}
.dishes-list ul {
  list-style: none;
}
.dishes-restbox {
  border: 1px solid blue;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}
.add-button {
  border: 1px solid #27a0a0;
  color: black;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

@media (min-width: 1024px) {
}
