.header-container {
  /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA3eHoAYEs3nS7wrKopzvsthzo45p9vDTnJ5GZkM8x_WdriZANvw'); */
  /* background-image: url('../img/mochaGrunge.png'); */

  /* background-color: white; */
  background: #333;
  display: flex;
  /* flex-direction: row;*/
  justify-content: space-between;

  color: tomato;
  padding: 20px 0;
  margin-bottom: 20px;
}
.header-container h1 {
  margin-left: 5%;
  font-size: 2em;
}

.header-container ul li {
  display: inline-block;
  margin: 10px;
  color: #fff;
}

.header-container ul a {
  color: tomato;
}
.header-container i.fa {
  padding: 8px;
}
