.landing-section {
  padding: 10px;
  background-image: url("../img/brickwall.png");
}
.about-outer {
  text-align: center;
  padding: 30px;
  border-bottom: solid 1px lightgrey;
  background: white;
}
.about-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-inner div {
  padding: 6px;
  margin: 15px;
}

.about-inner p {
  font-size: 0.9em;
}
.intro-box {
  margin: 5%;
  min-height: 300px;
  text-align: center;
  color: black;
  opacity: 0.8;
  padding-left: 8px;
  padding-right: 8px;
}
.intro-box h3 {
  font-size: 30px;
  font-style: italic;
}
.about-inner i.fa {
  font-size: 50px;
  padding: 20px;
  color: tomato;
}

.footer-box {
  color: tomato;
  width: 100%;
  padding: 15px;
  text-align: center;
  margin: 0;
  font-family: "Playball", cursive;
}
@media (min-width: 760px) {
  .about-inner {
    flex-wrap: nowrap;
  }
}
@media (min-width: 640px) {
  .intro-box {
    height: 200px;
    padding: 10px;
  }
  .about-inner div {
    height: 300px;
    padding: 10px;
  }
}
