.login-form {
  max-width: 500px;
  padding: 10px 20px;
  margin: 40px auto;
}
.login-form label {
  color: gray;
}
#username,
#password {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  width: 100%;
  margin-bottom: 15px;
  font-size: 0.9em;
}

fieldset legend {
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 20px;
  margin-bottom: 15px;
}
.login-button {
  border: 1px solid #27a0a0;
  color: black;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}
/* Add a restaurant
add dishes that you ordered
 */
