.restaurants-list {
  text-align: center;
  background-image: url("../img/brickwall.png");
}
.restaurants-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}
.restaurants-list h1 {
  font-family: "Oswald", sans-serif;
}
.restaurants-empty {
  max-width: 600px;
  margin: 10% auto;
  padding: 10px;
  text-align: center;
}
